@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@100..700&display=swap");

$header-font: "Josefin Sans", serif;
$main-font: "Josefin Sans", serif;
$interactive-font: "Aleo", serif;
