.form {
   width: 100%;
   max-width: 656px;
   max-height: 63px;
   margin: 48px 100px;
   border: none;
   font-size: 0.875rem;
   line-height: 185.714%;
   transition-duration: 0.4s;
   &__input {
      width: 100%;
      max-width: 497px;
      border: 2px solid #fff;
      padding: 21px 113px;
      outline: none;
      letter-spacing: 2.8px;
      color: #575757;
      &:hover {
         background: #fcd253;
      }
      &:focus {
         background: 2px #fff;
      }
   }
   &__search-btn {
      width: 100%;
      max-width: 150px;
      min-height: 63px;
      // background: #dde2fd;
      background: #fff;

      font-family: fonts.$interactive-font;
      color: #fff;
      letter-spacing: 1.4px;
      border: 2px solid #fff;
      cursor: pointer;
      &:hover {
         background: #fcd253;
      }
      &:active {
         background: #3b51b3;
      }
   }
}

.fa-solid {
   margin-left: 10px;
}
