@use "navbar";
@use "fonts";

.main {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   &__heading {
      font-family: "Aleo", serif;
      font-weight: 400;
      font-size: 2.25rem;
      line-height: 72.222%;
   }
}

.first-container {
   width: 100%;
   height: 97vh;
   display: flex;
   align-items: center;
   background-image: url(../images/city-skywiev-bg-image.jpg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   &__card-left {
      width: 100%;
      max-width: 560px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   }
   &__card-right {
      display: flex;
      flex-direction: column;
      img {
         max-width: 350px;
         max-height: 220px;
      }
   }
}

.main__text.card-left-text {
   margin: 50px 60px 45px 0;
}

%button {
   justify-content: center;
   min-width: 228px;
   min-height: 63px;
   border: none;
   background-color: #5474fd;
   color: #fff;
   font-family: fonts.$interactive-font;
   font-weight: 400;
   text-transform: uppercase;
   cursor: pointer;
}

.btn {
   @extend %button;
   &:hover {
      background-color: navbar.$hover-color;
      transition: all 0.4s ease-in-out;
   }
}

.img-indentation {
   margin-top: 10px;
   margin-left: 90px;
}

.second-container {
   background-color: #333;
   width: 100%;
   height: 48vh;
   //    &__img {
   //       width: 80%;
   //       img {
   //          width: 100%;
   //       }
   //    }
}

.location-container-one {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 99px;
   background-image: url(../images/house-pool-bg-image.jpg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
}
.location-container-two {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 99px;
   background-image: url(../images/cliff-sea-view-bg-image.jpg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
}

@import "card";

.testimonial-container {
   width: 100%;
   height: 104vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   background-image: url(../images/landscape-view-bg-image.jpg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
}

.testimonial-card {
   width: 100%;
   max-width: 1113px;
   max-height: 287px;
   display: flex;
   margin-top: 91px;
   &__right {
      background-color: #333;
      padding: 49px 25px 41px 62px;
      font-family: fonts.$main-font;
   }
}
.fa-quote-left {
   font-size: 3rem;
   color: #5474fd;
   margin-right: 5px;
}

@media screen and (max-width: 768px) {
   .first-container {
      height: 167vh;
      display: flex;
      flex-direction: column;
      &__card-left {
         margin-bottom: 80px;
      }
   }
   .second-container {
      &__img {
         width: 80%;
         img {
            width: 100%;
         }
      }
   }

   .testimonial-container {
      height: 166vh;
      display: flex;
      justify-content: flex-start;
      padding-top: 70px;
   }

   .testimonial-card {
      width: 50%;
      display: flex;
      flex-direction: column;
   }
}

@media screen and (max-width: 320px) {
   .main {
      &__heading {
         font-size: 1.5rem;
      }
   }

   .first-container {
      width: 100%;
      &__card-left {
         width: 95%;
      }
      &__card-right {
         width: 95%;
      }
   }

   .img-indentation {
      margin-left: 0;
   }

   .second-container {
      height: 24vh;
   }

   .card {
      &__xs-header {
         margin-top: 29px;
      }
   }

   .testimonial-card {
      width: 98%;
      &__right {
         padding: 10px;
      }
   }
}
