* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   max-width: 1800px;
   color: #fff;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 162.5%;
}

.wrapper {
   width: 98vw;
   height: auto;
   min-height: 100%;
   margin: 10px auto;
   flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
   .form {
      width: 80%;
   }

   .main {
      &__heading {
         font-size: 1.5rem;
      }
   }

   .first-container {
      width: 100%;
      &__card-left {
         width: 95%;
      }
      &__card-right {
         width: 95%;
      }
   }

   .img-indentation {
      margin-left: 0;
   }

   .second-container {
      height: 24vh;
   }

   .card {
      &__xs-header {
         margin-top: 29px;
      }
   }

   .testimonial-card {
      width: 98%;
      &__right {
         padding: 10px;
      }
   }
}

@import "header";
@import "main";
@import "footer";
