* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   max-width: 1800px;
   color: #fff;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 162.5%;
}

.wrapper {
   width: 98vw;
   height: auto;
   min-height: 100%;
   margin: 10px auto;
   flex-wrap: wrap;
}

@import "header";
@import "main";
@import "footer";
